$btn-bgColor:blue!default; //定义变量，后面要加分号（可加默认值，使其可修改）
.page01{ //嵌套语法
    .nav{
        a{
            color:#000;
            &:hover{color:#fff;} //&代表父标签，定义hover时
        }        
    }
    .container{
        .blueBtn,.redBtn{font-size:16px;} //群组选择器
    }
    .footer{
        background{ //属性嵌套
            image:url('../..');
            color:#fff;
            repeat:no-repeat
        }
    }
}